*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

.main-body{
    margin:0 20px
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    padding: 25px 0;
    background-color: #829985;
    height: 100px;
}

header nav{
    float: right;
    width: 50%;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
}

nav ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width 0.5s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

main{
    position: relative;
    bottom: 20px;
    max-height: 100%;  
}

section h2{
    color: #829985;
    font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-weight: 100;
}

footer div, footer p{
    color: #fff;
}
    
section{
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #672f2f;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 20px 0;
    border-bottom: 10px solid #829985;
}

.main-header .photo {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    left: 250px;
    margin: 20px 0;
}


.main-header .info{
    position: relative;
    right: 220px;
    line-height: 20px;
    letter-spacing: 3px;
}

.main-header .info h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 10px;
}

.main-header .info hr{
    width: 35%;
    margin: 25px auto;
    border: 1px solid #829985;
}

.main-header .info p {
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.row section {
    width: 48%;
}

.row section h1 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #829985;
}

#Contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, sans-serif;
}

#Contact ul li {
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
}

.item .p{
    color: #829985;
    display: inline-block;
}

.item img {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

.item a {
  color: #6a8d7c; /* Тот же стиль, как на скрине */
  text-decoration: none;
}


#English, #Education{
    border-bottom: none;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #829985;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

footer div {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #fff;
}

footer div a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

footer div a{
    position: relative;
    bottom: 3px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
}

footer div a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width 1s ease;
}

footer div a:hover::after {
    width: 100%;
}

.rs-logo {
  display: block;
  width: 150px;
  height: 65px;
}

.rs-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
